body {
    background-image: url("arjun-lama-8PVdDZGC9Rg-unsplash.jpg");
    /* background-attachment: local; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
#plots {
    width: 80%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-blend-mode: darken;
}

.traces {
    font-size:xx-large;
    font-weight: bolder;
}


